<div class="grid-container">
    <!-- <div class="grid-item" *ngFor="item in data"></div> -->
    <div class="grid-item">
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
        <div class="inner-grid">Some data</div>
    </div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
    <div class="grid-item">Some dummy data</div>
</div>