<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
/>
<nav class="nav">
  <span style="width: 98%">
    <span>
      <table>
        <tr>
          <td class="P">P</td>
          <td class="S">S</td>
        </tr>
        <tr>
          <td class="R">R</td>
          <td class="W">W</td>
        </tr>
      </table>
    </span>
    <span class="left">
      <a style="cursor: pointer; text-decoration: none; color: white" href="#">
        <i class="fa fa-angle-left"></i>
        <i class="fa fa-angle-left"></i>
      </a>
      <span id="f3"> | </span>
      <span class="FinIQ"> FinIQ </span>
    </span>
    <span class="right">
      <mat-slide-toggle class="mat-slide-toggle" (click)="onChangeToggle()"></mat-slide-toggle>
      <label class="pb"> Private Banking: NJ </label>
      <i class="fa fa-power-off"></i>
      <i class="fa fa-gear"></i>
    </span>
  </span>
</nav>
