.grid-container {
    display: grid;
    background-color: var(--bg-primary);
    margin: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 12vh 65vh;
}

.c1, .c2, .c3 {
    display: inline-grid;
    background-color: var(--bg-secondary);
    border-radius: 0.3125rem;
    border: 2px solid var(--bg-secondary);
}

.c1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.c2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.c3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y: hidden;
}

.c3:hover {
    overflow-y: scroll;
}