<app-nav class="{{ storedTheme }}" (setTheme)="recvTheme($event)"></app-nav>

<mat-sidenav-container autosize class="{{ storedTheme }}">
  <!-- menu -->
  <mat-sidenav #sidenav mode="over" backDrop="true" class="{{ storedTheme }}">
    <mat-nav-list *ngFor="let item of list">
      <mat-list-item [routerLink]="item.path" (click)="sidenav.toggle()">
        <span class="menu-item">{{ item.name }}</span>
      </mat-list-item>
    </mat-nav-list>
    <!-- <div class="logo">
      FinIQ
    </div> -->
  </mat-sidenav>
  <!-- main content -->
  <mat-sidenav-content class="{{ storedTheme }}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
