/* You can add global styles to this file, and also import other style files */

.theme-dark {
    --primary: #464646;
    --secondary: #43FFAF;
    --success: #0f0;
    --danger: #f20;
    --warning: #fa0;
    --bg-primary:#464646;
    --bg-secondary:#4f4f4f;
    --bg-success:#0f0;
    --bg-danger:#f20;
    --bg-warning:#fa0;
    --text-primary:#43FFAF;
    --text-secondary:#fff;
    --text-success:#0f0;
    --text-danger:#f20;
    --text-warning:#fa0;
    --display-1: 3.5rem;
    --display-2: 3rem;
    --display-3: 2.5rem;
    --display-4: 2rem;
    --display-5: 1.5rem;
    --display-6: 1rem;
}

.theme-light {
    --primary: #fff;
    --secondary: #00f;
    --success: #0f0;
    --danger: #f20;
    --warning: #fa0;
    --bg-primary:#fff;
    --bg-secondary:#f5f5f5;
    --bg-success:#0f0;
    --bg-danger:#f20;
    --bg-warning:#fa0;
    --text-primary:#00f;
    --text-secondary:#262a33;
    --text-success:#0f0;
    --text-danger:#f20;
    --text-warning:#fa0;
    --display-1: 3.5rem;
    --display-2: 3rem;
    --display-3: 2.5rem;
    --display-4: 2rem;
    --display-5: 1.5rem;
    --display-6: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* gateway-theme {
    --white: white;
    --black: black;
    --blue: #00a1ff;
    --red: #ff1e4c;
    --brown: #d97d54;
    --yellow: #c7c782;
    --light-brown: #f7d1c0;
    --green: #00d8a8;
    --gray: #e0e0e0;
    --light-gray: #f5f5f5;
    --very-light-gray: #fafafa;
    --very-dark-gray: #212121;
    --dark-gray: #303030;
    --light-dark-gray: #424242;
    --border-tr: solid 1px #414447;
    --hover-wfl: #7d7d7d61;
    --main-bg-color: #000000;
    --navbar: #ffffff;
    --navbar-main: #2e2f32;
    --sidebar-li: #ffffff;
    --sidebar-li-active: #ffffff;
    --sidebar-bg: #232323;
    --scroll-bar: #808080;
    --scroll-bar-hover: #a0a0a0;
    --active-sidebar: #beb3a354;
    --profile-name: #1a4269;
    --label: #f2a832;
    --inline-label: #f2a832;
    --checkbox: #424242;
    --checkbox-bg: #ffffff;
    --text: #f7f7f7;
    --icons: #acacac;
    --icons-filter: brightness(0) invert(1);
    --active-icons-filter: brightness(0) invert(1);
    --headers: #FFFFFF;
    --containers: #232323;
    --containers-content: #b6b6b7;
    --box-content: #eeeeee;
    --table-header-bg: #ffffff00;
    --table-header-text: #828282;
    --table-row-odd: #77777742;
    --table-row-even: #ffffff00;
    --table-row-hovered: #d6d6d6;
    --td: white;
    --btn-bg: #f2a832;
    --btn-text: #000000;
    --input-bg: #2f2f2f;
    --input-text: #f7f7f7;
    --select-bg: #2f2f2f;
    --select-text: #f7f7f7;
    --btn-hover-bg: #f5b95a;
    --btn-hover-text: #000000;
    --disabled: #565656;
    --disabled-text: #a7a7a7;
    --sidebar-handle: #a7a7a7;
    --btn-border: #595959;
    --btn-border-insurance: #616161;
    --border: #8c8c8c;
    --btn-border-bottom: 1px solid #000000;
    --placeholder-text: #6c757d;
    --header-line: #D9D9D9;
    --risk-rating-bg: #e2e2e2;
    --shadow-buttons: 0 0.0625rem 0.1875rem rgba(0, 25, 40, 0.2);
    --links: #00befe;
    --active: #f2a832;
    --footer-text: #343a40;
    --calendar-icon: url(http\:\/\/40\.65\.134\.77\/assets\/calendar-grey\.png);
    --xls-icon: url(http\:\/\/40\.65\.134\.77\/assets\/xls\.png);
    --pdf-icon: url(http\:\/\/40\.65\.134\.77\/assets\/pdf\.png);
    --portfolio-toggle-bg: #ffffff;
    --portfolio-toggle: #234567;
    --nav-header: #232323;
    --header-icon: #fff;
    --container-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.6);
    --box-shadow-thin: 0px 0px 3px rgb(255 255 255 / 15%), 0px 0px 3px rgb(255 255 255 / 15%);
    --box-shadow-ccy: 0px 0px 3px rgb(255 255 255 / 15%), 0px 0px 3px rgb(255 255 255 / 15%);
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-hovered: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-small: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    --sidebar-line: #f4f4f4;
    --profile-icon: url(http\:\/\/40\.65\.134\.77\/assets\/user-blue\.png);
    --setting-icon: url(http\:\/\/40\.65\.134\.77\/assets\/setting\.png);
    --finiq-logo: url(http\:\/\/40\.65\.134\.77\/assets\/FinIQ_logo\.png);
    --logout-icon: url(http\:\/\/40\.65\.134\.77\/assets\/logout\.png);
    --sidebar-filter: brightness(0.2) invert(1);
    --ticker-bg: #232323;
    --theme-active: #232323;
    --theme-hover: #353535;
    --content-header: #464646;
    --heading-label: #afafaf;
    --off-color: #f9e9cf;
    --cirp-header: #394346;
    --fx-line: #525252;
    --fx-text: #f2a832;
    --filter-button: #464646;
    --glass: #000000c7;
    --fx-tile: #2f2f2f;
    --selected-box: #beb3a354;
    --gap: 8px;
    --neumorphic-down: none;
    --neumorphic-up: none;
    --input-height: 35px;
    --neumorphic-disabled: none;
    --input-border: 1px solid rgb(118, 118, 118);
    --checkbox-neo: none;
    --neumorphic-sidebar: none;
    --icon-active: #f2a832;
    --news-text: #f7f7f7;
    --tab-gap: 0px;
    --tab-radius: none;
    --border-tabs: 2px solid #f2a832;
    --inactive-tab-border: #8c8c8c;
    --sub-container: #313131;
    --list-hover: #7d7d7d36;
    --domain-ip: http://40.650.1340.77;
    --setting-box: #111111;
    --10: calc(8px + (10 - 8) * ((100vw - 1200px) / (1920 - 1200)));
    --12: calc(11px + (12 - 11) * ((100vw - 1200px) / (1920 - 1200)));
    --14: calc(12px + (14 - 12) * ((100vw - 1200px) / (1920 - 1200)));
    --16: calc(14px + (16 - 14) * ((100vw - 1200px) / (1920 - 1200)));
    --20: calc(18px + (20 - 19) * ((100vw - 1200px) / (1920 - 1200)));
    --28: calc(24px + (28 - 24) * ((100vw - 1200px) / (1920 - 1200)));
    --sub-sidebar-color: #141414;
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
} */